In [2]:
# 1)
# Comma Separate Values (CSV) is common
# file format to store rectangular data.

# Pandas can be used to read csv data directly
# into a DataFrame object! Use the "read_csv"
# function on the pandas module to read the 
# file "covid.csv" into a DataFrame.

import pandas as pd
covid_df = pd.read_csv('covid.csv')
covid_df

                Country  Confirmed  Deaths  Recovered  Active
0           Afghanistan        120       4          2     114
1               Albania        212      10         33     169
2               Algeria        511      31         31     449
3               Andorra        334       6          1     327
4                Angola          7       2          0       5
..                  ...        ...     ...        ...     ...
172           Venezuela        119       2         39      78
173             Vietnam        188       0         25     163
174  West Bank and Gaza        109       1         18      90
175              Zambia         29       0          0      29
176            Zimbabwe          7       1          0       6

[177 rows x 5 columns]

In [3]:
# 2)
# Get the top 3 countries with the most deaths.
# HINT: you can use ranges in .iloc, just like
# in Python lists.

covid_df.Deaths.sort_values(ascending = False).iloc[:3]

82     10779
150     6803
34      3304
Name: Deaths, dtype: int64

In [8]:
# 3)
# How many deaths does Spain have reported
# in this dataset?

mask = covid_df.Country == 'Spain'
covid_df[mask].Deaths

150    6803
Name: Deaths, dtype: int64

In [30]:
# 4)
# Get the country with the 10th highest number
# of confirmed cases.

covid_df.sort_values(by = ['Deaths'], ascending = False, inplace = True)
covid_df.iloc[9:10]

    Country  Confirmed  Deaths  Recovered  Active
16  Belgium      10836     431       1359    9046

In [49]:
# 5)
# Filter the DataFrame to only contain rows
# where there are more than 100 confirmed 
# cases but less than 1000 confirmed cases: 
mask = (covid_df.Confirmed > 100) & (covid_df.Confirmed < 1000)
filtered_covid_df = covid_df[mask].sort_values(by = ['Confirmed'], ascending = False)
filtered_covid_df

                Country  Confirmed  Deaths  Recovered  Active
126              Panama        901      17          4     880
48   Dominican Republic        859      39          3     817
129                Peru        852      18         16     818
108              Mexico        848      16          4     828
145           Singapore        844       3        212     629
..                  ...        ...     ...        ...     ...
121             Nigeria        111       1          3     107
73             Honduras        110       3          3     104
174  West Bank and Gaza        109       1         18      90
107           Mauritius        107       3          0     104
28             Cambodia        103       0         21      82

[62 rows x 5 columns]

In [53]:
# 6)
# Return a Series of country names where
# where there are more reported Deaths than 
# people Recovered
mask = covid_df.Recovered < covid_df.Deaths
filtered_covid_df = covid_df[mask].sort_values(by = (['Deaths'],['Recovered']), ascending = False)

KeyError: (['Deaths'], ['Recovered'])

In [75]:
# 7)
# Series objects have a method called `.isin()`
# which takes one parameter: a list or Series
# and returns a boolean series, indicating 
# whether or not the value is in the list/Series.

# Get the total number of deaths (the sum)
# in the all following countries combined:

countries = ['Spain', 'Germany', 'England', 'Portugal', 'France']

In [76]:
# 8)
# Get the mean number of active cases for 
# countries with deaths < 100

In [77]:
# 9)
# Filter the dataframe to only include
# countries which have more than the mean
# number of deaths (i.e. compute the average
# death toll across all the countries,
# then filter the dataframe to only include
# countries with more deaths than that).