# Rectangular data

We have seen that dictionaries are a very flexible way to represent a piece of data and that lists of dictionaries are natural ways to store data. 

Dictionaries are very powerful because they can accomodate very complex, "nested" structures, as we have seen. For example, a dictionary can have another dictionary as a value, or a list, or both! The nesting can be arbitrarily deep. This is very powerful for storing information. 

Similarly, by working with these dictionaries and using our basic operations (map, filter, reduce), we saw that we could perform very complex operations on this complex data.

However, it takes a lot of custom code to perform those operations on dictionaries that have a complex, custom format.  

If our data is not complex and nested, however, maybe we can simplify some of those operations and avoid a lot of custom code! 

We can think of "flat" or "rectangular" data as a simpler form of the dictionaries we saw earlier.

In [3]:
# Let's revist the data of a bunch of users playing a game. 
# This is "flat" or "rectangular" data, because every value is
# a primitive data type (string or number or None or boolean): 

scoreboard = [{ 'player': 'kewld00d1', 'best_score': 100, 'last_score': 100, 'country': 'gr'},
              { 'player': 'pumpkin', 'best_score': 550, 'last_score': 20, 'country': 'gr'},
              { 'player': 'tr0llhuntah', 'best_score': 200, 'last_score': 150, 'country': 'no'},
              { 'player': '111111', 'best_score': 50, 'last_score': 50, 'country': 'no'}]

scoreboard

[{'player': 'kewld00d1',
  'best_score': 100,
  'last_score': 100,
  'country': 'gr'},
 {'player': 'pumpkin', 'best_score': 550, 'last_score': 20, 'country': 'gr'},
 {'player': 'tr0llhuntah',
  'best_score': 200,
  'last_score': 150,
  'country': 'no'},
 {'player': '111111', 'best_score': 50, 'last_score': 50, 'country': 'no'}]

## Pandas

Pandas is a Python library that we can use to work with rectangular data.

You will need to install pandas! You can do this with `pip` or `conda`, depending on how your Python/Jupyter environment is set up.

Rectangular data is represented by a Pandas class called a `DataFrame`.

In [4]:
# It is canonical to import the entire pandas module
# and give it the alias "pd":
import pandas as pd 

# Here we create an empty dataframe and inspect it:
df = pd.DataFrame()
print(df)
isinstance(df, pd.DataFrame)

Empty DataFrame
Columns: []
Index: []

True

In [5]:
# We can create the dataframe from a list of dictionaries, 
# by passing the list of dictionaries as the first argument
# to the DataFrame constructor:

df = pd.DataFrame(scoreboard)

df

        player  best_score  last_score country
0    kewld00d1         100         100      gr
1      pumpkin         550          20      gr
2  tr0llhuntah         200         150      no
3       111111          50          50      no

You'll notice that the data is displayed as a rectangle! 

A lot like a spreadsheet, which is also rectangular data 

Because it's rectangular, there are two dimensions:

1. **Columns** (player, best_score, last_score, country)
2. **Rows** (0,1,2,3)

In [6]:
# Let's say we wanted to get all the scores from
# this dataframe. We can access a single column
# just like we access a key in a python dictionary:

df['best_score']

0    100
1    550
2    200
3     50
Name: best_score, dtype: int64

In [7]:
# Note that accessing a column returns a 1-dimensional
# data structure, but it's not actually a list!
# It's a new data type provided by the Pandas library,
# called a "Series". 

type(df['best_score'])

pandas.core.series.Series

## DataFrame vs. Series

Pandas provides these two primary data types: 

1. **DataFrame**: A 2-dimensional data structure to represent rectangular data.
2. **Series**: A 1-dimensional data structure (like a list), often used to represent "slices" of a DataFrame.

In [8]:
# We can also access a column via dot `.` notation,
# as though it were an attribute on the instance:

# NOTE: if the column name happens to be the same
# as a built-in attribute on the Series class, then
# it will not be accessible via dot `.` notation.

df.best_score

0    100
1    550
2    200
3     50
Name: best_score, dtype: int64

In [9]:
# We can loop through a series, just like we do a list: 

for score in df.best_score:
    print(score)

100
550
200
50

In [10]:
# Series objects are more complex than lists. 
# They have "values", but they also have an "index". 

print('values: ', df.best_score.values)
print('index:  ', df.best_score.index)

values:  [100 550 200  50]
index:   RangeIndex(start=0, stop=4, step=1)

In [11]:
# Unlike a list, which doesn't store information about
# what data type the elements are, a Series will try to 
# store that information in an attribute called `dtype`:

df.best_score.dtype

dtype('int64')

## Operations on Series objects

The real power of the Series class comes in the `dtype` attribute.

This allows us to perform many of the basic operations we were able to perform on primitive data types (`+`, `-`, `*`, `/`, `**`, `>`, `<`, `==`, `!=`).

In [12]:
# Because df.score is a number type, we can perform arithmetic
# operations between the series and a single numeric value: 

df.best_score + 10

0    110
1    560
2    210
3     60
Name: best_score, dtype: int64

In [13]:
# Try other arithmetic operations between df.score
# and a numeric value. 



# Try with comparison operators (==, >, <). 
# The series that is returned, what dtype does it have?

## Operations between two series

Operations can be performed not only between a Series and a value, as we saw, but also between two Series! 

This will perform the operation "element wise". 

To do this, pandas needs to know which element in the first series to align with which element in the second series.

It uses the "index" attribute to align series together.

In [14]:
# We can create a series from scratch, giving 
# it a list for the values and a list for the index: 

foo = pd.Series([1, 2, 3], index=[0,1,2])
foo

0    1
1    2
2    3
dtype: int64

In [15]:
# Let's create another series of the same length and with
# the exact same index: 

bar = pd.Series([10, 20, 30], index=[0,1,2])

bar

0    10
1    20
2    30
dtype: int64

In [16]:
# Now let's try to perform an operation across the series objects:
# Try with other operators too!

foo + bar

0    11
1    22
2    33
dtype: int64

In [17]:
# Pandas used the "index" to align the Seris.
# What would happen if the series had different lengths? 

baz = pd.Series([10,20,30,40], index=[0,1,2,3])

foo + baz

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64

In [18]:
# And if the series had different indices? 

qux = pd.Series([1,2,3], index=[3,4,5])

foo + qux

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

In [19]:
# And if the series had different but overlapping
# indices?

baz + qux

0     NaN
1     NaN
2     NaN
3    41.0
4     NaN
5     NaN
dtype: float64

In [20]:
# Try all the above operations with the `==`
# operator! You will see Pandas is more picky
# with comparisons than with arightmetic operations.

In [21]:
# Indices don't need to be in order. 
# Take a good look at what is happening here. 
# Pandas is ignoreing the "order" of the Series. 
# It operates on two seris together based entirely 
# on their "index".  
# HINT: examin the quxx object on its own!

quux = pd.Series([1,2,3], index=[2,0,1])

foo + quux

0    3
1    5
2    4
dtype: int64

## Boolean logic with boolean Series objects

In Python we have boolean logic with `and`, `or` and `not`. 

In Pandas, we have different operators to combine two boolean Series objects: 

* `&` (logical and)
* `|` (logical or)
* `~` (logical not)

In [22]:
bool_series = df.best_score < 200

# Take a look at the logical not operator, 
# returns the opposite of the boolean series:

~bool_series

0    False
1     True
2     True
3    False
Name: best_score, dtype: bool

In [23]:
# Challenge: 
# Return a boolean Series that is True for 
# Every player that has a best_score > 100 
# AND a last_score > 100

# HINT: if you don't create separate variables
# for the boolean series objects, you will need 
# to use () to group them!

df

        player  best_score  last_score country
0    kewld00d1         100         100      gr
1      pumpkin         550          20      gr
2  tr0llhuntah         200         150      no
3       111111          50          50      no

## Accessing elements from a Series

Accessing elements from a series is also subtly different from accessing elements from a list. 

Series objects give us two ways to access elements: 

1. By their index (`[i]`).
2. By their location (`.iloc[i]`).

In a basic Python list, the index *was* the location, so we did not have to differentiate between the two. 

In Pandas, as we saw, the index can be in any order. It can also be made up of strings! But the elements in the series are still ordered.

In [24]:
# Accessing elements by their index: 
# This is done like a list or dictionary

quux[2]

1

In [25]:
# Accessing elements by their location:
# This is done with `.iloc`:

quux.iloc[2]

3

In [26]:
# Note how this looks with a Series with a string index:

quuux = pd.Series([1,2,3], index=['foo', 'bar', 'baz'])

print('by index:    ', quuux['bar'])
print('by location: ', quuux.iloc[1])

by index:     2
by location:  2

In [27]:
# Unlike a list, we can set elements in a Series at an index
# which does not currently exist:

quux[10] = 100
quux

2       1
0       2
1       3
10    100
dtype: int64

## Operations between columns in a DataFrame

We have seen that we can access a single "column" of a DataFrame as a Series. 

We have also seen that we can use basic operators between two Series objects easily if their indices align. 

When two columns of a DataFrame are selected, the Series objects that are returned have the same indices. 

This makes it easy to compare columns

In [28]:
# Try comparing best_score and last_score on the `df`
# DataFrame. Try adding and subtracting them. 
# Can you perform all the operations you would like to
# between them?

## Map and Filter with Series

Series objects make it easy to map and filter data!

**map** is performed via the `.map` method on the Series object. 

**filter** is performed via a *boolean mask*.

To create a *boolean mask*: 

1. Create a boolean series with the same index as the original series
2. Use the new boolean series (called a boolean mask) to filter the original series via bracket `[]` notation

In [29]:
# We can map values in a series, and return a new series
# of the same length, with the `map` method:

def square(n):
    return n**2

df.best_score.map(square)

0     10000
1    302500
2     40000
3      2500
Name: best_score, dtype: int64

In [30]:
# To filter a series, we first create a boolean mask: 
# HINT: print out the mask object and examine it
mask = df.best_score < 200

# Then we use the mask to filter:
# Note the indices on the new series!
df.best_score[mask]

0    100
3     50
Name: best_score, dtype: int64

In [31]:
# Challenge:

# Return the scores where the best_score
# is equal to the last_score

## Missing data in Pandas

Missing data is very important!

In Python, we used the `None` type to encode missing data.

In Pandas, by default, it will turn the `None` type into its own internal representation of a missing value. 

In the current version of Pandas, that is a `NaN` type (Not a Number).

Series objects have a set of built-in methods to deal with missing data, such as: 

* `.isna()`
* `.notna()`

Both of these methods return a boolean object, representing the presence or absence of missing data in the series.

In [49]:

# Challenge: 
# Get a list of names, without the missing values!

# The Pandas way: 
# 1. Create a boolean mask by using the .notna() method.
# 2. Use the mask to subset the Series.

names = pd.Series(['foo','bar',None,'baz','qux',None])
mask = names.notna()
names[mask]

0    foo
1    bar
3    baz
4    qux
dtype: object

## Built-in reductions (aggregations) with Series

Series objects come with a number of methods to perform common reductions (aggregations) on the Series.

For example: 

* `.max()`
* `.min()`
* `.sum()`
* `.count()`
* `.sort_values()`

In [33]:
# Challenge: 
# Using the `df` DataFrame object,
# Return the highest score in "last_score":

In [34]:
# Challenge: 
# Usin gthe `df` DataFrame object,
# return the second highest score in "last_score"

# HINT: You will need to combine a couple of ideas!

## Accessing DataFrame Elements

We've been working with Series objects. But DataFrame objects work much the same way!

For example, you'll note that a DataFrame object also has an `index`.

We saw that we could return a **column** by accessing the column via dot `.` or bracket `[]` notation.

We access **rows** in a DataFrame in two ways: 

1. By their index (`.loc[x]`)
2. By their location (`.iloc[x]`)

We can also access **single elements** in a DataFrame in two ways: 

1. By their index, column pair (`.loc[x, y]`)
2. By their location in both axes (`.iloc[x, y]`)

In [50]:
# We can access rows with the `.loc` attribute:
# Note that the row is also a Series.

df.loc[0]

player             kewld00d1
best_score               100
last_score               100
country                   gr
finished_strong         True
Name: 0, dtype: object

In [51]:
# If we want to access a row by it's location, 
# we use the `iloc` attribute. 
# Note: in this current DataFrame, the row
# index corresponds to the location, so we get
# the same result. 

df.iloc[0]

player             kewld00d1
best_score               100
last_score               100
country                   gr
finished_strong         True
Name: 0, dtype: object

In [37]:
# Note that a "row" is a Series, and in this case
# the index is often made of strings instead of integers: 

df.iloc[0].index

Index(['player', 'best_score', 'last_score', 'country'], dtype='object')

In [52]:
# To access a single element, we can use `.loc`
# to specify the row index and column name: 

df.loc[1, 'best_score']

550

In [39]:
# Also, we can access a single element by its "position"
# in the DataFrame, using `.iloc`: 

df.iloc[1, 1]

550

## Filter with DataFrames

We can **filter** the elements (rows) of a DataFrame much like we did the elements of a Series.

We need a boolean mask, which has the same index as the DataFrame. 

Often, we create this boolean mask from one of the columns of the DataFrame (which will have the same index as the DataFrame itself!)

Then we filter via the bracket `[]` notation, just like a Series!

In [54]:
# Filtering a DataFrame:
# 1. Make the boolean mask:
mask = df.best_score < 200

# 2. Use the mask to select a subset of the elements:
df[mask]

      player  best_score  last_score country  finished_strong
0  kewld00d1         100         100      gr             True
3     111111          50          50      no             True

## Map with DataFrames - `.apply`

Dataframes come with a method called `.apply`, which is anologous to the `.map` function in Series. 

The difference is that with a DataFrame, we need to be specific about whether we want to apply the function to: 

1. Each row of the DataFrame (returning a DataFrame with the same number of rows, but potentially different columns)
2. Each column of the DataFrame (returning a DataFram with the same number of columns, but potentially different rows)

In [58]:
def add_strong(row):
    row['finished_strong'] = row.best_score == row.last_score
    return row

# To apply the function to each row, we use axis=1
df.apply(add_strong, axis=1)
# axis = 0 = columns, axis = 1 = rows

        player  best_score  last_score country  finished_strong
0    kewld00d1         100         100      gr             True
1      pumpkin         550          20      gr            False
2  tr0llhuntah         200         150      no            False
3       111111          50          50      no             True

## Map with DataFrames - `.assign`

Mapping a dataframe often consists of returning a new dataframe, with the same number of rows, but with each row transformed. 

The transformation often takes the form of adding or replacing a column!

In that case, we don't need to use the `.apply` method, we can simply assign a column to a new series value by: 

1. Mutating the DataFrame inplace with bracket `[]` notation.
2. Assigning a new column with the `.assign` method.

In [42]:
# The `.assign` method adds a new column: 

finished_strong = df.best_score == df.last_score
df.assign(finished_strong = finished_strong)

        player  best_score  last_score country  finished_strong
0    kewld00d1         100         100      gr             True
1      pumpkin         550          20      gr            False
2  tr0llhuntah         200         150      no            False
3       111111          50          50      no             True

In [43]:
# Using bracket notation, we can just
# add a new column directly to the dataframe: 

finished_strong = df.best_score == df.last_score
df['finished_strong'] = finished_strong 
df

        player  best_score  last_score country  finished_strong
0    kewld00d1         100         100      gr             True
1      pumpkin         550          20      gr            False
2  tr0llhuntah         200         150      no            False
3       111111          50          50      no             True

## Built-in reductions (aggregations) with DataFrames

Pandas offers a number of built-in methods for common reductins (aggregations) on DataFrames:

* `.max()`
* `.min()`
* `.sum()`
* `.count()`
* `.sort_values('col_name')`

In [44]:
# Play:
# Try the different built-in aggregation methods on the DataFrame
# object. What is the return data type?